<div class="bingo-container">
	<h1 class="header">BINGO</h1>
	<button class="header" (click)="ngOnInit()">Refresh</button>
	<div class="number-container">
		<div *ngFor="let number of bingo.numbers" class="number">
			{{number.value}}
		</div>
	</div>
</div>